:root{
    --botao-produtos: #03703c;
}


.botao-produtos{
    background-color: var(--botao-produtos);
}

.pesquisar{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.pesquisar-bloco{
    position: relative;
    width: 500px;
    text-align: center;
    font: "Arial";
    margin-right: 1em;
}

.imagem-pesquisa{
    margin-right: 10px;
}
.bg-success{
  background-color: #03703c !important;
}

.filtros{
  margin-left: 2.3em;
  margin-top: .200em;
  margin-bottom: .200em;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    flex: 1; /* Ocupa o espaço disponível restante */
  }

  .user-btn, .add-btn {
    margin-left: 20px; /* Adiciona espaço entre os botões e o logo */
  }

  

  
  